

div {
  display: inline-flex;
  color: blue;
}

h1 {
  color: $color_white;
}

body {
  padding: 50px;
  font: 14px "Lucidia Grande", Helvetica, Arial, sans-serif;
  color: $color_salmon;
}

a {
  color: #00B7FF;
}

