extends layout

block content
  .container
    .row.justify-content-center
      .col-2
        #app
    .row
    .row
    .row.justify-content-center
      .col-5 
        #dropdown_container
    .row
    .row
    .row
    .row
    .row
      .col.mx-auto.justify-content-center#column1
      .col.mx-auto.justify-content-center#column2
      .col.mx-auto.justify-content-center#column3
  script(src='/javascripts/main.js')
